<html>
<head>
<title>Add  Reservation</title>
</head>
<body>
<table>
<form action="/reservation/addReservation" method="post">
<tr><td>num_res :</td><td><input type="number" name="num_res" id="num_res" /></td></tr>
<tr><td>date_debut :</td><td><input type="date" name="date_debut" id="date_debut" /></td></tr>
<tr><td>date_fin :</td><td><input type="date" name="date_fin" id="date_fin" /></td></tr>
<!--
    <tr><td>hotel :</td><td><input type="text" name="hotel" id="hotel" /></td></tr>-->
<tr><td colspan="2"><input type="submit" value="Ajouter" /></td>
</form>
</table>
</body>
</html>