<html>

<head>
    <title>Welcome</title>
    <h1>Welcome to Hotel booking</h1>
</head>

<body>
    <table>
        <form>
            <tr>
                <td><a href=../hotel>Hotel management </a></td>
            </tr>
            <tr></tr>
            <td><a href=../reservation>Reservation </a></td>
            </tr>
            <tr></tr>
            <td><a href=../home>Users management </a></td>
            </tr>
        </form>
    </table>
</body>

</html>